# ─── Django ───────────────────────────────────────────────────────────────────
SECRET_KEY=change-me-in-production-use-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ─── Base de datos ─────────────────────────────────────────────────────────────
DB_NAME=mini_pos
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_ACCESS_TOKEN_MINUTES=60
JWT_REFRESH_TOKEN_DAYS=7

# ─── Nubefact (SUNAT) ─────────────────────────────────────────────────────────
NUBEFACT_URL=https://api.nubefact.com/api/v1/4edbcfc4-1b83-482f-882a-1356c048d223
NUBEFACT_TOKEN=737745e11f79445d8b3658e66ee0a085de51aefe18554c4ba51532d8f0e57e9b
NUBEFACT_SERIE_BOLETA=BBB1
NUBEFACT_SERIE_FACTURA=FFF1
